* {font: roboto, sans-serif;
}

.header1 {
  display: flex;
  flex-direction: row;
  outline: solid red 2px;
  height: 100px;
  width: auto;
  background-color: #1F2937;
}

.leftelements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  color: white;
  outline: solid red 2px;
  width: 50%;
  height: 50%;
  padding: 5px;
  border: 5px;
  margin: 10px;
}

.rightelements {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #E5E7EB;
  font-size: 18px;
  outline: solid red 2px;
  height: 50%;
  width: 50%;
  padding: 5px;
  border: 5px;
  margin: 10px;
}

.herosection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  outline: solid red 2px;
  height: 400px;
  width: auto;
  background-color: #1F2937;
}

.leftsection {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  color: white;
  outline: solid red 2px;
  width: 400px;
  height: 300px;
  padding: 5px;
  border: 5px;
  margin: 10px;
}

.rightsection {
  display: flex;
  flex-direction: row;
  color: #E5E7EB;
  outline: solid red 2px;
  height: 300px;
  width: 400px;
  padding: 5px;
  border: 5px;
  margin: 10px;
}

.some-random-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: solid red 2px;
  height: 100px;
  width: auto;
  font: 48px;
  color: #F9FAF8;
  font-weight: 900;
  background-color: white;
  color: black;
}

.images{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: auto;
}

.images2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  outline: solid red 2px;
  height: 100px;
  width: auto;
}

.squareboxes {
  width: 150px;
  height: 150px;
  border: solid #3882F6 2px;
  outline: solid red 2px;
  border-radius: 10px;
}

.boxwriting {
  font-size: 18px;
  color: black;
  text-align: center;
  margin-top: 10px;
  outline: solid red 2px;
}

.whiteparagraph1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: solid red 2px;
  height: 300px;
  width: auto;
  background-color: #E5E7EB;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: solid red 2px;
  height: 210px;
  width: 600px;
  font-size: 24px;
  color: black;
  background-color: #E5E7EB;
}

.whiteparagraph2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: solid red 2px;
  height: 300px;
  width: auto;
}

.call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: solid red 2px;
  height: 190px;
  width: 900px;
  font-size: 24px;
  color: white;
  background-color: #3882F6;
  border-radius: 10px;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  outline: solid red 2px;
  height: 100px;
  width: auto;
  font: 48px;
  color: #F9FAF8;
  font-weight: 900;
  background-color: #1F2937;
}